.bg-header {
  background-color: #ffffff;
}

logo.wide {
  height: 60px;
}

.hr {
  border: solid 0.5px #d5d7dc;
  margin: 0;
}

.logo-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 60px;
}

.restaurant {
  width: 1200px;
  height: 295px;
  display: flex;
  margin: 0 auto;
}

.restaurant-information {
  margin: 30px 0;
}

.restaurant-title {
  font-size: 32px;
  line-height: 26.7px;
  font-weight: bold;
  margin: 30px 0;
  color: #292d2d;
  /* text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify; */
}

.restaurant-description {
  font-size: 19px;
  line-height: 28.8px;
  color: #868a8a;
  margin: 30px 35px 30px 0;
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.restaurant-img {
  margin: 30px 0;
  width: 350px;
  border-radius: 3px;
}

.bg-main {
  background-color: #f1f3f3;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.category.container {
  margin-top: 25px;
  width: 825px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0;
}

.meals {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  list-style-type: none;
}

.meal:nth-child(even) {
  margin-left: 15px;
}

.meal-container {
  width: 400px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  margin-bottom: 25px;
}

.meal-information {
  width: 255px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.meal-information-wide {
  width: 400px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.meal-title {
  font-size: 18px;
  line-height: 15.6px;
  color: #2e3333;
}

.meal-description {
  font-size: 14px;
  line-height: 20.8px;
  color: #808484;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
  max-height: 41.6px;
  margin: 10px 0 20px 0;
}

.meal-price-pop {
  display: flex;
  margin-top: 15px;
}

.meal-price {
  font-size: 17px;
  line-height: 14.7px;
  color: #808484;
  margin-right: 15px;
}

.meal-popular {
  font-size: 12px;
  line-height: 17px;
  color: #ff8000;
  font-weight: 900;
}

.meal-img {
  height: 130px;
  width: 130px;
  margin: 15px;
  object-fit: cover;
  border-radius: 3px;
}

.shopcart-container {
  width: 350px;
  background-color: white;
  margin-top: 25px;
  height: fit-content;
  border-radius: 5px;
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
}

.shopcart-button-grey {
  width: 330px;
  height: 50px;
  border-radius: 5px;
  color: #8b9a9b;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: bold;
  background-color: #b2bbbb;
}

.shopcart-button-blue {
  width: 330px;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: bold;
  background-color: #14c6b5;
}

.shopcart-details-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  color: #7f8383;
  height: fit-content;
}

.empty-shopcart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e9191;
  font-size: 16px;
  line-height: 13.3px;
  height: 110px;
}

.subtotal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90px;
  padding: 10px 0;
}

.subtotal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2e3333;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #2e3333;
  height: 70px;
}

.selected-meal-container {
  height: 60px;
  font-size: 16px;
  color: #2e3333;
  display: flex;
  align-items: center;
}

.icon-blue {
  color: #14c6b5;
}

.selected-meal-title {
  margin: 0 10px;
  height: fit-content;
  line-height: 20px;
}

.selected-meal-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
}

.selected-meal-quantity-title {
  display: flex;
}

.selected-meal-quantity {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selected-meal-price {
  width: 60px;
  text-align: end;
}
